@import url('https://fonts.googleapis.com/css2?family=Outfit:weight@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit, sans-serif;
}
body{
    min-height: 100vh;
    background-color: #fcfcfc;
}
a{
    text-decoration: none;
    color: inherit;
    background-color: #a9a9a9;
}
.appContent{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}